
body {
    width:100%;
    margin: 0px;
    padding: 0px;
    letter-spacing: 1.4;
    word-spacing: 1.4;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(113, 143, 243);
    }
#template{
      margin-bottom: 5px;
      
}



 /* header inicio */
 #container-logo img{
    max-inline-size: 180px;
    margin-bottom: 200px;
    
   
    
 }
  #container-logo{
    width: 100%;
    height: 100px;
    background-color:rgba(255, 255, 255, 0.904);
 }
#carouselExampleIndicators{
    background-color: rgba(255, 255, 255, 0.904);

}


header a :hover {
 text-decoration: none;
 color: rgb(243, 238, 238);
}

header input:hover, li:hover{
    color: rgb(255, 255, 255);
     background-color:rgba(233, 233, 38, 0.856);
     border: 1px solid white;
     border-radius: 5px;
}

 /* header fim */

    /* main inicio */

 .carousel-item{
    height: 450px;
    object-fit: fill;
    margin: 0;
 }


section h1:hover, h2:hover, h4:hover,h4:hover{
    color: rgba(233, 233, 38, 0.856);
    text-shadow: #333 1px 1px 2px, #333 0 0 1em, #333 0 0 0.2em;
}
 .h1c {
    color: rgba(233, 233, 38, 0.856);
    text-shadow: #333 1px 1px 2px;
}

article  img {
    padding: 10px;
    border-radius: 25px;
    width: 200px;
    height: 200px;
 
}
.container-fluid h4, p {

    padding: 8px;
    
}
.container-fluid article{
    text-align: center;
    padding: 15px;
    
   
}


.container-fluid div button{
     width: 150px;
     height: 60px;
    background-color:rgba(255, 255, 255, 0.377);
    border: 1px solid #225bc5ff;
    border-radius: 5px;
    padding: 10px;
    cursor:pointer;
    transition: 0.5s;
    margin-bottom: 50px;
   
    
    
    
}
.container-fluid div button:hover{
   background-color:rgba(233, 233, 38, 0.856);
    color: white;
    border: 1px solid white;
   
}


  .container-fluid  div{
   background-color:rgba(255, 255, 255, 0.377);
    
}
 article{
 background-color:rgba(255, 255, 255, 0.377);     
}
main article:hover {
     background-color:rgba(255, 255, 255, 0.904);
    border:  1 px solid #225bc5ff;
    transition: 0.6s;
      
}
#d{
    background-color:  rgba(180, 198, 227, 0.638);
     box-shadow: 5px 10px 18px #888888;
     margin-bottom: 60px;
 
}


    /* main fim */



/* footer inicio */

footer {
     background-color:rgba(255, 255, 255, 0.904);
     margin-top: 5px;

}

#footer img{
    border-radius: 5px;
    width: 150px;
    height: 150px;
    float: left;

}

#footer p {
     
     text-align: justify;

}
#footer h6 {
display: inline-block;
 text-align: left;
 float: left;
}



 /* footer fim */

